@model IEnumerable<MVC_CRUD.Models.Event>
@using MVC_CRUD.Models

@{
}

<div class="container">
    <a class="btn btn-primary" asp-action="AddEvent">Add Event</a>
    <div class="row">
        @foreach (var Event in Model)
        {
            <div class="col-md-4 mb-4">
                <div class="card h-100 shadow-sm">
                    <img src="~/images/events/@Event.ImagePath" class="card-img-top" alt="@Event.ImagePath">
                    <div class="card-body">
                        <h5 class="card-title">@Event.Title</h5>
                        <p class="card-text">
                            <strong>Date:</strong> @Event.Date.ToString("dd.MM.yyyy")<br/>
                            <strong>Artist:</strong> @Event.Artist<br/>
                            <strong>Tickets Available:</strong> @Event.TicketsLeft / @Event.TotalTickets
                        </p>
                        
                        <a class="btn btn-danger" asp-action="RemoveEvent" asp-route-Id="@Event.Id">Remove</a>
                        <a class="btn btn-secondary" asp-action="EditEvent" asp-route-Id="@Event.Id">Edit</a>
                    </div>
                </div>
            </div>
        }
    </div>
</div>